<div class="container-g">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12">
        <app-cabecero></app-cabecero>
      </div>

      <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <app-days3></app-days3>
      </div>

      <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
        <app-visit></app-visit>
      </div>

      <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-2 col-xxl-2">
        <app-images-targets></app-images-targets>
      </div>

      <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
        <app-target-clima></app-target-clima>
      </div>
    </div>
  </div>
</div>
