<div class="container">
  <div class="row">
    <div class="target-revision">
      <i class="user-add bi bi-person-plus-fill"></i>
      <span class="top-reviews">Reviews </span>
      <img class="img-person" src="../../../../../assets/images/avatars/avatar1.jpg" alt="avatar-img">
      <img class="img-person" src="../../../../../assets/images/avatars/avatar2.jpg" alt="avatar-img">
      <img class="img-person" src="../../../../../assets/images/avatars/avatar3.jpg" alt="avatar-img">
      <i class="more-users"> <span class="mas">+</span> </i>
    </div>
  </div>
</div>
